.bt-container {
    margin: 20px;
}
.pose-info {
    background-color: rgb(233, 224, 231); 
    text-align: center; 
    padding-top: 30px; 
    padding-bottom: 30px;
    margin: auto;
    margin-bottom: 40px;
    filter: drop-shadow(0 0 0.75rem rgb(151, 132, 136));
}
.iframe {
    width: 80%;
}
.text-container2{
    width: 75%
}
@media (min-width: 800px) {
    .pose-info {
        max-width: 550%;
        background-color: rgb(233, 224, 231); 
        padding-top: 30px; 
        padding-bottom: 30px; 
        margin: auto;
        margin-bottom: 40px;
        filter: drop-shadow(0 0 0.75rem rgb(151, 132, 136));
    }
    
  }  