.header {
<<<<<<< HEAD
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
  
}
.landing {
    text-align: left; 
    padding:20px;
    margin: auto;
    width: 60%;
}

@media (min-width: 800px){
    .landing {
       width: 30%
    }
=======
    background-image: url(https://www.dropbox.com/h?preview=lotus.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
>>>>>>> 1f09bd599c76b1a050a89c676a07800367a58ade
}