.header {
    background-image: url(https://www.dropbox.com/h?preview=lotus.jpg);
    background-repeat: no-repeat;
     /* background-color:rgb(24, 8, 85);    */
     /* background-color: rgb(4, 113, 39);    */ 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
  
}