.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
  
}
.landing {
    text-align: left; 
    padding:20px;
    margin: auto;
    width: 60%;
}

@media (min-width: 800px){
    .landing {
       width: 30%
    }
}