.item {
    background-color: white; 
    margin: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(151, 132, 136));
}

@media (min-width: 600px) {
    .item {
        width: 33%; 
    }    
}  