.form-container {
    background-color:rgb(243, 240, 239); 
     /* background-color:rgb(245, 243, 227);   */
  

}
.opening-form {
    padding: 10px;
    
}

.form__group {
  padding: 15px 0 0;
  margin-top: 10px;
  width: 90%;
}

.form__field {
  width: 60%;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  color: grey;
  padding: 7px 0;
  background: transparent;  
  transition: border-color 0.2s;
}
placeholder {
    color: transparent; 
  }

.flow-form {
    display:flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 5%;
}
.flow-selection {
    display:flex;
    justify-content: space-between;
    margin: auto; 
    margin-left: 5%;
}
.form-small-container {
    flex:3;
    display: inline;
}
.button-container {
    flex:1;
    display: inline;
    vertical-align: bottom;
}




@media (min-width: 800px) {
    .opening-form {
        padding: 20px;
        width: 65%;
        margin: auto;
        justify-content: space-around; 
        display: flex;
    }
    .flow-form {
        margin: 10px;
        flex: 1;
        padding: 5px;
        display: flex;
        margin-left: 5%;
    }
    .flow-selection {
        margin: 10px;
        flex:1;
        padding: 5px;
        display: flex;
        margin-left: 5%;
    }
   
    .form-small-container {
        flex:3;
        }
    
    .button-container {
        flex: 1;
    }
    }
